{{#if jets}}
<div class="row">
    <div class="col-sm-4">
      <ul class='list-group'>
        {{# each jets}}
        <li class='list-group-item'>
          <span class="badge">{{ this.qty }}</span>
          <strong>{{this.item.title}}</strong>
          <span class='label label-success'>{{this.price}}</span>
          <div class='btn-group'>
            <button class='btn btn-primary btn-xs dropdown-toggle' data-toggle='dropdown' type='button'>
              Action<span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
              <li><a href='#'>Reduce by 1</a></li>
              <li><a href='#'>Remove All</a></li>
            </ul>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
      <a href='/contact' class='btn btn-success'>Contact</button>
    </div>
</div>
  {{else}}
  <div class="row">
      <div class="col-sm-4">
        <h2>No Listing Agents to Contact</h2>
      </div>
  </div>
{{/if}}

<div class="row">
    <div class="col-sm-4">
      <h2>No Listing Agents to Contact</h2>
    </div>
</div>
